# OpenAI API Key для команды DOCTOR
#OPENAI_API_KEY=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

# Порт сервера
PORT=3000

# Модель GPT (по умолчанию gpt-4o)
GPT_MODEL=gpt-4o

